#description {
    width: 100%;
    height: 93%;
    background-color: black;
    font-size: 14;
    resize: none;
    color: white;
    border-width: 0;
    padding: 5 0 0 0;
}
#title {
    height: 5%;
    font-size: 24;
}

#counter {
    height: 2%;
    font-size: 10;
}

body {
    background-color: black;
    color: white;
    font-family: Lucida, sans-serif;
}